[Unit]
Description=Nebula service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/bin/nebula -config /etc/nebula/config.yaml

[Install]
WantedBy=multi-user.target