[Unit]
Description=Nebula service
Wants=network-online.target
After=network.target network-online.target

[Service]
SyslogIdentifier=nebula
StandardOutput=syslog
StandardError=syslog
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ nebula_bin_directory }}/nebula -config /etc/nebula/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
